.App {
  text-align: center;
  position: relative;
}

#sky {
  background-color: lightskyblue;
  z-index: 0;
  height: 25vh;
}

#lake {
  background: #2396ca;
  z-index: 10;
  height: 45vh;
}

#land {
  background-color: #73c850;
  z-index: 20;
  height: 30vh;
}

.bg-section {
  height: calc(100vh / 3);
  display: flex;
  justify-content: center;
  position: relative;
}
